.card__container {
    display: flex;
    background: #FFF;
    border-radius: 4px;
    padding: 14px;
    transition: transform 100ms ease-in-out;

    &:hover {
        transform: scale(1.02);
        box-shadow: 10px 5px 5px #ccc;
    }

    .image__card {
        margin-right: 14px;

        img {
            border: 1px solid #DDD;
        }
    }

    @media (max-width: 430px) {
        flex-direction: column;

        .image__card {
            margin-bottom: 12px;
            align-self: center;
        }
    }
}

.info__card {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 260px;
    position: relative;

    .card__header {
        display: flex;
        flex-direction: column;
        height: 80%;
        overflow: hidden;

        strong {
            font-size: 0.825rem;
        }

        span {
            font-size: 0.750rem;
            margin-top: 10px;
        }

        a {
            color: #6c63ff;
            font-size: 0.750rem;
        }
    }

    .card__footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 30px;

        a {
            color: #303030;
            transition: color 0.2s;

            &:hover {
                color: #6c63ff;
            }
        }

        button {
            background: none;
            border: 0;
        }
    }
}
