.see-more-button__container {
    border: none;
    margin-bottom: 20px;
    height: 40px;
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
    background: #606c88;
    color: #e5e5e5;
    display: flex;
    align-items: center;
    justify-content: center;
}
