.home__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 42px 24px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 16px;
}

.home__not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
        width: 20%;
    }

    strong {
        font-size: 0.825rem;
        margin-bottom: 1rem;
    }
}

.home__empty {
    height: 50vh;
    max-width: 800px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
        width: 40%;
        margin-bottom: 20px;
    }
}
